* {
  padding: 0;
  margin: 0;
}

body {
  background: #222;
  height: 100vh;
}

.grid-container {
  display: grid;
  grid-template: auto auto 4rem / auto;
  height: 100%;
}

header,
main,
footer {
}
img {
  background-color: white;
}
header {
  grid-row: 1;
}
.nav-cart {
  display: flex;
  flex-direction: column;
}

header nav .nav-cart {
  display: inline-block;
  height: 5rem;
  min-width: 4rem;
  background: white;
  cursor: pointer;
  z-index: 1;
}

header nav .nav-cart img {
  height: 4rem;
  width: 4rem;
}

header nav .nav-cart .cart-list {
  display: none;
}

header nav .nav-cart ul li .item-container {
  display: flex;
  list-style: none;
}

header nav .nav-cart ul li .item-container li {
  background: white;
  padding: 0.5rem;
}

header nav .nav-cart ul li .item-container button {
  height: 2rem;
  width: 2rem;
  border: none;
}

main {
  grid-row: 2;
}

main .product-card {
  margin: 0.5rem 0 0.5rem 0;
}

main .product-card .card img {
  width: 491px;
  height: 708px;
}

footer {
  grid-row: 3;
}

.cartbtn {
  width: 50px;
  height: 50px;
  background-color: white;
}
.product-card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
.item-container {
  display: flex;
  justify-content: start;
  align-items: center;
}

.item-container li:first-child {
  width: 20vw;
}
.item-container li {
  width: 5rem;
}
.item-container li + button {
  height: 3rem;
}
.countbtn {
  display: flex;
  align-items: center;
  padding: 1rem;
}
.product-items {
  text-align: center;
  width: 10rem;
}
